<h1>Root page</h1>
<h2>Active orders</h2>
<%= render partial: 'active', locals: { orders: @active } %>

<%= render 'orders/form' %>

<h2>Finalized orders</h2>
<%= render partial: 'active', locals: { orders: @finalized } %>

<h2>Delivered orders</h2>
<%= render partial: 'active', locals: { orders: @delivered } %>

<div ng-repeat="order in orders | orderBy: added">
  {{order.name}}
</div>
<form ng-submit="addOrder()">
  <input type="text" ng-model="name">
  <button type="submit">Add order</button>
</form>
