<div ng-repeat="order in orders | orderBy: '-added'">
  {{order.name}}
  <ul>
    <li ng-repeat="meal in order.meals">
      {{meal.name}}:
      {{meal.price}} zł
    </li>
  </ul>
  <form ng-submit="addMeal(order)">
    <input type="text" ng-model="order.newMeal.name">
    <input type="number" ng-model="order.newMeal.price">
    <button type="submit" class="btn">Add meal</button>
  </form>
</div>
<form ng-submit="addOrder()">
  <input type="text" ng-model="newOrder.name">
  <button type="submit" class="btn">Add order</button>
</form>
