<h2>Orders</h2>

<div class="panel-group">
  <div ng-repeat="order in orders | orderBy: '-added'" class="panel panel-default">
    <header class="panel-heading clearfix">
      <h5 class="pull-left">
        <b>{{order.name}}</b>
        created <time am-time-ago="order.added"></time>
      </h5>
      <!-- button for finalizing in tab 0 -->
      <div class="btn-toolbar pull-right" role="toolbar">
        <button ng-if="activeTab==0" ng-click="finalize(order)" ng-disabled="order.meals.length==0" class="btn btn-default">
          Finalize
        </button>
        <!-- button group for state in tab 1 -->
        <div ng-if="activeTab==1" class="btn-group">
          <button ng-click="setFinalized(order)" ng-class="{'btn-primary':isFinalized(order)}" class="btn btn-default">Finalized</button>
          <button ng-click="setOrdered(order)" ng-class="{'btn-primary':isOrdered(order)}" class="btn btn-default">Ordered</button>
          <button ng-click="setDelivered(order)" ng-class="{'btn-primary':isDelivered(order)}" class="btn btn-default">Delivered</button>
        </div>
        <div class="btn-group">
          <button ng-click="order.show=!order.show" class="btn btn-default">
            <strong>
              <span ng-show="order.show" class="monospace">-</span>
              <span ng-hide="order.show" class="monospace">+</span>
            </strong>
          </button>
        </div>
      </div>
    </header>

    <div ng-class="{in:order.show}" class="panel-collapse collapse">
      <div class="panel-body">
        <!-- repeated meals in model -->
        <div ng-repeat="meal in order.meals" class="list-group-item">
          {{meal.name}}:
          {{meal.price | currency : ''}} zł
        </div>
        <!-- horizontal meal input group -->
        <div ng-if="activeTab==0" class="list-group-item">
          <form ng-submit="addMeal(order)" class="form-inline">
            <div class="input-group">
              <span class="input-group-addon">Meal name</span>
              <input type="text" ng-model="order.newMeal.name" required class="form-control">
              <span class="input-group-addon">Price</span>
              <input type="number" ng-model="order.newMeal.price" step="0.01" required class="form-control">
              <span class="input-group-addon">zł</span>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Add meal</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<form ng-submit="addOrder()" ng-if="activeTab==0" class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input type="text" ng-model="newOrder.name" class="form-control" placeholder="Restaurant name">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">New order</button>
      </span>
    </div>
  </div>
</form>
