<h2>Orders</h2>

<div class="panel-group">
  <div ng-repeat="order in orders | orderBy: '-added'" class="panel panel-default">
    <a class="list-group-item clearfix" data-toggle="collapse" href="#collapse{{$index}}">
      <h5 class="pull-left">
        {{order.name}}</b>
        created <time am-time-ago="order.added"></time>
      </h5>
      <span ng-if="activeTab==0" ng-click="finalize($index)" class="btn btn-default pull-right">
        Finalize
      </span>
      <div ng-if="activeTab==1" ng-switch="order.ordered" class="pull-right">
        <span ng-switch-default ng-click="ordered($index)" class="btn btn-default">Mark as ordered</span>
        <div ng-switch-when="true" class="underline">
          Ordered
          <span ng-click="delivered($index)" class="btn">Mark as delivered</span>
        </div>
      </div>
    </a>

    <div class="panel-collapse collapse in" id="collapse{{$index}}">
      <div class="panel-body">
        <div ng-repeat="meal in order.meals" class="list-group-item">
          {{meal.name}}:
          {{meal.price | currency : ''}} zł
        </div>
        <div class="list-group-item">
          <form ng-submit="addMeal(order)" ng-if="activeTab==0">
            <input type="text" ng-model="order.newMeal.name" placeholder="Meal name">
            <input type="number" step="0.01" ng-model="order.newMeal.price" placeholder="Meal price">
            <button type="submit" class="btn">Add meal</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<form ng-submit="addOrder()" ng-if="activeTab==0">
  <input type="text" ng-model="newOrder.name">
  <button type="submit" class="btn">Add order</button>
</form>
