<h2>Orders</h2>

<div class="panel-group">
  <div ng-repeat="order in orders | orderBy: '-added'" class="panel panel-default">
    <header ng-click="order.show=!order.show" class="panel-heading clearfix">
      <h5 class="pull-left">
        <b>{{order.name}}</b>
        created <time am-time-ago="order.added"></time>
      </h5>
      <button ng-if="activeTab==0" ng-click="finalize(order)" class="btn btn-default pull-right">
        Finalize
      </button>
      <div ng-if="activeTab==1" ng-switch="order.ordered" class="pull-right">
        <button ng-switch-default ng-click="ordered(order)" class="btn btn-default">Mark as ordered</button>
        <div ng-switch-when="true" class="underline">
          Ordered
          <button ng-click="delivered(order)" class="btn btn-default">Mark as delivered</button>
        </div>
      </div>
    </header>

    <div ng-class="{in:order.show}" class="panel-collapse collapse">
      <div class="panel-body">
        <div ng-repeat="meal in order.meals" class="list-group-item">
          {{meal.name}}:
          {{meal.price | currency : ''}} zł
        </div>
        <div class="list-group-item">
          <form ng-submit="addMeal(order)" ng-if="activeTab==0" class="form-inline">
            <div class="input-group">
              <span class="input-group-addon">Meal name</span>
              <input type="text" ng-model="order.newMeal.name" required class="form-control">
              <span class="input-group-addon">Price</span>
              <input type="number" ng-model="order.newMeal.price" step="0.01" required class="form-control">
              <span class="input-group-addon">zł</span>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default">Add meal</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<form ng-submit="addOrder()" ng-if="activeTab==0" class="form-inline">
  <div class="input-group">
    <input type="text" ng-model="newOrder.name" class="form-control" placeholder="Restaurant name">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default">New order</button>
    </span>
  </div>
</form>
