<ng-include src="'/assets/templates/_add_order.html'"></ng-include>

<div class="panel-group">
  <div ng-repeat="order in orders | filter: category | orderBy: '-created_at' track by order.id" class="panel panel-default">
    <header class="panel-heading clearfix">
      <!-- order title -->
      <ng-include src="'/assets/templates/_order_title.html'"></ng-include>
      <!-- button for finalizing -->
      <div class="btn-toolbar pull-right" role="toolbar">
        <button ng-click="setStatus(order,statuses['finalized'])" ng-disabled="order.meals.length==0" class="btn btn-default">
          Finalize
        </button>
      </div>
    </header>

    <div ng-class="{in:order.show}" class="panel-collapse collapse">
      <div class="panel-body">
        <!-- repeated meals in model -->
        <ng-include src="'/assets/templates/_repeat_meals.html'"></ng-include>
      </div>
      <!-- meals are added here: horizontal input group -->
      <ng-include src="'/assets/templates/_add_meal.html'"></ng-include>
    </div>
  </div>
</div>
