.underline {
    text-decoration: underline;
}

.monospace {
    font-family: monospace;
}

.input-short {
    width: 100px !important;
}

.alert-overlay {
    position:absolute;
    z-index:1;
    margin-left: 10px;
}
